/* MOBILE BREAKPOINT */
@media only screen and (max-width: 560px) {
  body {
    background-color: #f1f1f1;
  }

  #app-wrapper {
    max-height: none;
    max-width: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #app-wrapper .app-left {
    min-width: none;
    overflow-y: visible;
    border-radius: 0;
    padding: 1rem 1rem 0 1rem;
  }

  #app-wrapper .app-left .current-weather {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  #app-wrapper .app-left .current-weather div:nth-child(2) {
    margin-left: 5rem;
  }

  #app-wrapper .app-left .current-info {
    margin: 0;
  }

  #app-wrapper .app-left .current-city {
    width: 90%;
    position: absolute;
    padding-bottom: 1rem;
  }

  #app-wrapper .app-right {
    overflow: visible;
    border-radius: 0;
    padding: 1rem;
    max-width: none;
  }

  #app-wrapper .app-right .weather-highlights .weather-highlights-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
  }

  /* UTILITIES */
  #container {
    width: 110px;
    height: 80px;
  }
  .big-card {
    min-width: 150px;
  }

  .card {
    padding: 10px 1rem;
  }

  .current-weather {
    transform: scale(0.7) !important;
  }
}
